body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #417893;
    margin-bottom: 5px;
}

button {
    background: #417893;
    color: white;
    margin: 2px;
    padding: 10px 20px;
    border: 1px solid #417893;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #0e4966;
    color: black;
}

#delete-btn {
    background: white;
    color: #417893;
}

#delete-btn:hover {
    background-color: #417893;
    color: black;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}


